body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

/* Header */
header {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(to right, #6a5acd, #7b68ee);
    color: white;
}

.filters button {
    margin: 10px 5px;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.filters button:hover {
    background-color: #ddd;
}

/* Cards */
#recipe-container {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe-card {
    background: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.recipe-meta {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

/* Difficulty Colors */
.easy {
    color: green;
    font-weight: bold;
}

.medium {
    color: orange;
    font-weight: bold;
}

.hard {
    color: red;
    font-weight: bold;
}
